<div class="container">
  <header>
    <h1>Game of Life</h1>
  </header>

  <main class="grid-container">
    <div
      class="grid"
      [style.--grid-cols]="gridCols"
      [style.--grid-rows]="gridRows"
      [style.--grid-aspect-ratio]="gridCols / gridRows"
    >
      @for (row of grid(); track $index; let i = $index) { @for (cell of row; track $index; let j =
      $index) {
      <div class="cell" [class.alive]="cell"></div>
      } }
    </div>
  </main>

  <footer class="controls">
    <button (click)="togglePlayPause()">{{ isRunning() ? 'Pause' : 'Play' }}</button>
    <button (click)="reset()">Reset</button>
  </footer>
</div>
